.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.71);
}

.modal-window {
  width: auto;
  max-width: 80%;
  padding: 35px 25px;
  text-align: center;
  background-color: white;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-window__title {
  font-size: 28px;
}